
.nav {
    --translate-x-menu: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav--open{
    --translate-x-menu: 0;
}

.nav__logo {
    display: block;
    border-radius: 50%;
    width: 48px;
    object-fit: cover;
}

.nav__icon
{
    display: flex;
    background-color: transparent;
    border:0;
    color: var(--primary-text-color);
    font-size: 1.75rem;
    padding: 0;
    filter: contrast(0.75);
    cursor: pointer;
    transform: filter 0.25s;
}

.nav__icon:hover{
    filter:contrast(1);
}

.nav__icon--close{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

@media (min-width: 768px) {

    .nav {
      --translate-x-menu: 0;
    }
  
    .nav__icon--menu,
    .nav__icon--close {
      display: none;
    }
  }